<div class="row">
  <div class="col-12">
    <nb-card size="small" style="padding: 1rem 2rem;">

    	<div class="row">	
	      	<div class="col-md-6 col-sm-12">
	      		<div class="FieldNameLabel">From Location</div>
	      		 <input formControlName="restriction_name" required ngModel  type="text" nbinput="" placeholder="From Location" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-6 col-sm-12">
	      		<div class="FieldNameLabel">To Location</div>
	      		 <input formControlName="restriction_name" ng-model="restriction_name"  required ngModel  type="text" nbinput="" placeholder="To Location" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>

        <div class="row" style="margin-top: 50px;">	
	            <button style="margin-left: 10px;" class="btn btn-success">Report</button>
	    </div>
      
    </nb-card>


  </div>
</div>
