<div class="row">
  <div class="col-12">
    <nb-card size="small">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Search">
        	<div class="row">	
	        	<div class="col-md-6 col-sm-12">
	        		<div class="FieldNameLabel">Warehouse Code</div>
	        		 <input formControlName="wh_code" required ngModel  type="text" nbinput="" placeholder="Warehouse Code" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	        	</div>

	        	<div class="col-md-6 col-sm-12">
	        		<div class="FieldNameLabel">Modified From</div>
	        		 <input formControlName="modified_from" ng-model="modified_from"  required ngModel  type="text" nbinput="" placeholder="Modified From" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	        	</div>

          	</div>

          	<div class="row">	
	        	<div class="col-md-6 col-sm-12">
	        		<div class="FieldNameLabel">Warehouse Name</div>
	        		 <input formControlName="wh_name" required ngModel  type="text" nbinput="" placeholder="Warehouse Name" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	        	</div>

	        	<div class="col-md-6 col-sm-12">
	        		<div class="FieldNameLabel">Modified To</div>
	        		 <input formControlName="modified_to" ng-model="modified_to"  required ngModel  type="text" nbinput="" placeholder="Modified To" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	        	</div>

          	</div>


          	<div class="row">	
	        	<div class="col-md-6 col-sm-12">
	        		<div class="FieldNameLabel">Created From</div>
	        		 <input formControlName="created_from" required ngModel  type="text" nbinput="" placeholder="Created From" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	        	</div>

	        	<div class="col-md-6 col-sm-12">
	        		<div class="FieldNameLabel">Palms User Login Name</div>
	        		 <input formControlName="login_name" ng-model="login_name"  required ngModel  type="text" nbinput="" placeholder="Palms User Login Name" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	        	</div>

          	</div>

          	<div class="row">	
	        	<div class="col-md-6 col-sm-12">
	        		<div class="FieldNameLabel">Created To</div>
	        		 <input formControlName="created_to" required ngModel  type="text" nbinput="" placeholder="Created From" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	        	</div>

	        	<div class="col-md-6 col-sm-12">
	        		<div class="FieldNameLabel">Palms User Login Name1</div>
	        		 <input formControlName="login_name_one" ng-model="login_name_one"  required ngModel  type="text" nbinput="" placeholder="Palms User Login Name" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	        	</div>
          	</div>

          	<br><br>

          	<div class="buttons-row">
	            <button   type="submit" class="btn btn-primary">Search</button>
	            <button style="margin-left: 10px;" class="btn btn-success">Save</button>
	            <button style="margin-left: 10px;" class="btn btn-success">Feilds</button>
        	</div>


        </nb-tab>

        <nb-tab tabTitle="Action">
          

        </nb-tab>
        <nb-tab tabTitle="Advanced (Beta)">
          
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
