<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row bg-white pt-2 mb-3 shadow">
                <div class="col">
                    <ul class="nav nav-pills mb-2 border-0">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/sale/transactions/">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/sale/cash-drawer-shifts/">Cash Drawer Shifts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/sale/online-orders/">Online Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/sale/bulk-orders/">Sales Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/sale/order-refunds/">Sales Return</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>