<div class="row" >
  <div class="col-12">
    <nb-card size="small" style="padding: 1rem 2rem;overflow-y: scroll;">

    	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Category Name </div>
	      		 <input formControlName="definition_name" required ngModel  type="text" nbinput="" placeholder="Category Name" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Upper Category</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
	      	</div>

	      		<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Scanning Compulsory?</div>
	      		 <input type="checkbox" >
	      	</div>

      	</div>

      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Category Code </div>
	      		 <input formControlName="definition_name" required ngModel  type="text" nbinput="" placeholder="Category Code" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	

      	</div>

      


      	

          <div class="row" style="margin-top: 50px;">	
	            <button style="margin-left: 10px;" class="btn btn-success">Save</button>
	            <button style="margin-left: 10px;" class="btn btn-danger">Cancel</button>
        	</div>



      
    </nb-card>


  </div>
</div>
