<div class="row" >
  <div class="col-12">
    <nb-card size="small" style="padding: 1rem 2rem;overflow-y: scroll;">

    	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Company Name</div>
	      		 <input formControlName="definition_name" required ngModel  type="text" nbinput="" placeholder="Company Name" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Post Box</div>
	      		 <input formControlName="length" ng-model="length"  required ngModel  type="text" nbinput="" placeholder="Post Box" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Min Qty Factor Of Monthly Avg Per SO Line</div>
	      		 <input formControlName="height" ng-model="height"  required ngModel  type="text" nbinput="" placeholder="Min Qty Factor Of Monthly Avg Per SO Line" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

      	</div>

      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Company Code</div>
	      		 <input formControlName="definition_name" required ngModel  type="text" nbinput="" placeholder="Company Code" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Postal Code</div>
	      		 <input formControlName="length" ng-model="length"  required ngModel  type="text" nbinput="" placeholder="Postal Code" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Max PO Lines</div>
	      		 <input formControlName="height" ng-model="height"  required ngModel  type="text" nbinput="" placeholder="Max PO Lines" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

      	</div>


      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Base W/H</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
          	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">INTL Dial Code</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="INTL Dial Code" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Max Qty Factor Of Monthly Avg Per PO Line</div>
	      		 <input formControlName="weight" ng-model="weight"  required ngModel  type="text" nbinput="" placeholder="Max Qty Factor Of Monthly Avg Per PO Line" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>


      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Doc No Prefix</div>
	      		 <input formControlName="definition_code" required ngModel  type="text" nbinput="" placeholder="Doc No Prefix" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Area Dialing Code</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="INTL Dial Code" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Min Qty Factor Of Monthly Avg Per PO Line</div>
	      		 <input formControlName="weight" ng-model="weight"  required ngModel  type="text" nbinput="" placeholder="Min Qty Factor Of Monthly Avg Per PO Line" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>


      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Currency</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Phone</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Phone" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">LCF Max Limit</div>
	      		 <input formControlName="weight" ng-model="weight"  required ngModel  type="text" nbinput="" placeholder="LCF Max Limit" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>

      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Address Line 1</div>
	      		 <input formControlName="definition_code" required ngModel  type="text" nbinput="" placeholder="Address Line 1" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Extension No</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Extension No" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Decimal Tolerance</div>
	      		 <input formControlName="weight" ng-model="weight"  required ngModel  type="text" nbinput="" placeholder="Decimal Tolerance" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>


      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Address Line 2</div>
	      		 <input formControlName="definition_code" required ngModel  type="text" nbinput="" placeholder="Address Line 2" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Fax</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Fax" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">GST No</div>
	      		 <input formControlName="weight" ng-model="weight"  required ngModel  type="text" nbinput="" placeholder="GST No" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>


      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Contact Name</div>
	      		 <input formControlName="definition_code" required ngModel  type="text" nbinput="" placeholder="Contact Name" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Mobile</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Mobile" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Bill To</div>
	      		 <input formControlName="weight" ng-model="weight"  required ngModel  type="text" nbinput="" placeholder="Bill To" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>


      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Country</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Email</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Email" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Ship To</div>
	      		 <input formControlName="weight" ng-model="weight"  required ngModel  type="text" nbinput="" placeholder="Ship To" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>


      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">State</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Maintain Back Order?</div>
	      		 <input type="checkbox"/>
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Tax Invoice Label</div>
	      		 <input formControlName="weight" ng-model="weight"  required ngModel  type="text" nbinput="" placeholder="Tax Invoice Label" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>


      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Other State</div>
	      		 <input formControlName="definition_code" required ngModel  type="text" nbinput="" placeholder="Other State" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Generate PO for Back Order?</div>
	      		 <input type="checkbox"/>
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Tax Invoice No</div>
	      		 <input formControlName="weight" ng-model="weight"  required ngModel  type="text" nbinput="" placeholder="Tax Invoice No" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>


      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">City</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Max SO Lines</div>
	      		 <input formControlName="definition_code" required ngModel  type="text" nbinput="" placeholder="Max SO Lines" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Week Start Day</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
	      	</div>
      	</div>

      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Other City</div>
	      		 <input formControlName="definition_code" required ngModel  type="text" nbinput="" placeholder="Other City" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Max Qty Factor Of Monthly Avg Per SO Line</div>
	      		 <input formControlName="definition_code" required ngModel  type="text" nbinput="" placeholder="Max Qty Factor Of Monthly Avg Per SO Line" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">PAN No</div>
	      		 <input formControlName="weight" ng-model="weight"  required ngModel  type="text" nbinput="" placeholder="PAN No" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>

      		

          <div class="row" style="margin-top: 50px;">	
	            <button style="margin-left: 10px;" class="btn btn-success">Save</button>
	            <button style="margin-left: 10px;" class="btn btn-danger">Cancel</button>
        	</div>



      
    </nb-card>


  </div>
</div>
