<!--<mat-form-field >
    <input matInput  placeholder="New password" [type]="hide ? 'password' 
      : 'text'" [formControl]="passFormControl" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 
      'visibility_off'}}</mat-icon>
    <mat-error *ngIf="passFormControl.hasError('required')">
        Please enter your new password
     </mat-error>
  </mat-form-field>

  <mat-form-field >
     <input matInput  placeholder="Confirm password" [type]="hide ? 
          'password' : 'text'" [formControl]="confirmFormControl" 
                required>
     <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 
            'visibility_off'}}</mat-icon>
     <mat-error *ngIf="confirmFormControl.hasError('required')">
      Confirm your password
      </mat-error>
    </mat-form-field>
  -->
  <h2 mat-dialog-title>Create Employee</h2>
<form >
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="Name" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm Password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="mat-blue">Submit</button>
  </mat-dialog-actions>
</form>
