<div class="row">
  <div class="col-12">
    <nb-card size="small" style="padding: 1rem 2rem;">

    	<div class="row">	
	      	<div class="col-md-6 col-sm-12">
	      		<div class="FieldNameLabel">Reason Type</div>
	      		 <input formControlName="reason_type" required ngModel  type="text" nbinput="" placeholder="Reason Type" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-6 col-sm-12">
	      		<div class="FieldNameLabel">Reason</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
	      	</div>
      	</div>
      	

        <div class="row" style="margin-top: 50px;">	
	            <button style="margin-left: 10px;" class="btn btn-success">Save</button>
	            <button style="margin-left: 10px;" class="btn btn-danger">Cancel</button>
        </div>



      
    </nb-card>


  </div>
</div>
