<div class="row" >
  <div class="col-12">
    <nb-card size="small" style="padding: 1rem 2rem;overflow-y: scroll;">

    	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Customer </div>
	      		 <input formControlName="definition_name" required ngModel  type="text" nbinput="" placeholder="Customer" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Other State</div>
	      		 <input formControlName="length" ng-model="length"  required ngModel  type="text" nbinput="" placeholder="Other State" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Area Dialing Code</div>
	      		 <input formControlName="height" ng-model="height"  required ngModel  type="text" nbinput="" placeholder="Area Dialing Code" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

      	</div>

      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Bill To</div>
	      		 <input formControlName="definition_name" required ngModel  type="text" nbinput="" placeholder="Bill To" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">City</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Phone</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Phone" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

      	</div>


      	<div class="row">	
	      		<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Adderss Line1</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Adderss Line1" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Other City</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Other City" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Extension No</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Extension No" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>


      	<div class="row">	
	      		<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Adderss Line2</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Adderss Line2" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Post Box</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Post Box" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Fax</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Fax" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>

      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Contact Name</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Contact Name" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Postal Code</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Postal Code" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Mobile</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Mobile" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
      	</div>


      

      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Country</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">INTL Dial Code</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="INTL Dial Code" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>

	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">Email</div>
	      		 <input formControlName="width" ng-model="width"  required ngModel  type="text" nbinput="" placeholder="Email" class="input-full-width size-medium status-basic shape-rectangle nb-transition">
	      	</div>
			
			
      	</div>


      	<div class="row">	
	      	<div class="col-md-4 col-sm-12">
	      		<div class="FieldNameLabel">State</div>
	      		 <nb-select selected="1" style="width: 100%;">
		          <nb-option value="1">Select</nb-option>
		        </nb-select>
	      	</div>

	      	
      	</div>

          <div class="row" style="margin-top: 50px;">	
	            <button style="margin-left: 10px;" class="btn btn-success">Save</button>
	            <button style="margin-left: 10px;" class="btn btn-danger">Cancel</button>
        	</div>



      
    </nb-card>


  </div>
</div>
