.ra{
    color: #fff;
    text-decoration: none;

}

.text-success {
    color: #28a745!important;
}
.la[_ngcontent-yei-c264] {
    display: inline-block;
    font: normal normal normal 16px/1 LineAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

