<div class="container">
    <div class="row ">
        <div class="col-md-6 justify-content-center">
        <div class="card-header border-0 text-center font-weight-bold rounded">Windows POS application</div>
         
        <img src="../assets/images/slide2.png">
        <div class="p-3 text-center text-white">
            <a class="btn btn-warning ra">Download Application</a>
        </div>
        </div>
        <div class="col-md-6 justify-content-center">
            <div class="card-header border-0 text-center font-weight-bold rounded">Android POS Application</div>
              
             
                <img src="../assets/images/slide1.png">
                <div class="p-3 text-center text-white">
                    <a class="btn btn-warning ra">Download Application</a>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3 border-0">
                <div class="card-header border-0 font-weight-bold rounded">
                    <div class="row">
                        <div class="col-md-8 card-header border-0 font-weight-bold rounded" _ngcontent-xeo-c263="">	Locations<br>
                            <!-- <a nbbutton="">Register your store locations, track your sales at each location with ease.</a> -->
                            <a _ngcontent-xeo-c263="" nbbutton="" routerLink="/pages/home" class="cr"> Register your store locations, track your sales at each location with ease.</a>
                            
                        </div>
                        <div class="col-md-4 bg-muted m-0 card-header">
                            <div class="float-right la-home-font-size">
                                <a class="btn btn-sm btn-dark mr-2 ra" routerLink="/pages/store">Add</a>
                                <!-- <i class="la la-check-circle text-success"></i> -->
                                <img src="../assets/images/right.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-3 border-0">
                <div class="card-header border-0 font-weight-bold rounded">
                    <div class="row">
                        <div class="col-md-8 card-header">	Employees<br>
                            <a  _ngcontent-xeo-c263="" nbbutton="" routerLink="/pages/home" class="cr">Create individual staff accounts and track sales.</a>
                        </div>
                        <div class="col-md-4 bg-muted m-0 card-header">
                            <div class="float-right la-home-font-size">
                                <a class="btn btn-sm btn-dark mr-2 ra" routerLink="/pages/employee">Add</a>
                                <!-- <i class="la la-check-circle text-success"></i> -->
                                <img src="../assets/images/right.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 border-0">
                <div class="card-header border-0 font-weight-bold rounded">
                    <div class="row">
                        <div class="col-md-8 card-header">	Devices<br>
                            <a  _ngcontent-xeo-c263="" nbbutton="" routerLink="/pages/home" class="cr">Create devices and manage your sales on the go.</a>
                        </div>
                        <div class="col-md-4 bg-muted m-0 card-header">
                            <div class="float-right la-home-font-size">
                                <a class="btn btn-sm btn-dark mr-2 ra" routerLink="/pages/home">Add</a>
                                <!-- <i class="la la-check-circle text-success"></i> -->
                                <img src="../assets/images/right.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 border-0">
                <div class="card-header border-0 font-weight-bold rounded">
                    <div class="row">
                        <div class="col-md-8 card-header">	Categories<br>
                            <!-- <small>Create categories and manage your categories on the go.</small> -->
                            <a _ngcontent-xeo-c263="" nbbutton="" routerLink="/pages/home" class="cr">  Create categories and manage your categories on the go. </a>
                            
                        </div>
                        <div class="col-md-4 bg-muted m-0 card-header">
                            <div class="float-right la-home-font-size">
                                <a class="btn btn-sm btn-dark mr-2 ra" routerLink="/pages/reports">Add</a>
                                <!-- <i class="la la-check-circle text-success"></i> -->
                                <img src="../assets/images/wrong.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-3 border-0">
                <div class="card-header border-0 font-weight-bold rounded">
                    <div class="row">
                        <div class="col-md-8 card-header">Items<br>
                            <a  _ngcontent-xeo-c263="" nbbutton=""  routerLink="/pages/home" class="cr">Create individual staff accounts and track sales.   </a>
                        </div>
                        <div class="col-md-4 bg-muted m-0 card-header">
                            <div class="float-right la-home-font-size">
                                <a nbbutton class="btn btn-dark mr-2 ra" routerLink="/pages/items">Add</a>
                                <!-- <i class="la la-check-circle text-success"></i> -->
                                <img src="../assets/images/right.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header font-weight-bold">Website Video</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 my-auto">	If you are feeling confused, kindly check out our tutorial video.</div>
                            <div class="col-md-6"><div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1YnM5kSeXgYNnC6-Zl1LA2DsvC-nbHoBq/preview"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header font-weight-bold">Windows POS Video</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 my-auto">	If you are feeling confused, kindly check out our tutorial video.</div>
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1bh90-AtB-ixy6HQ8GpoTn3S3v4fNSJk3/preview"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
